.vscode/settings.json
.vscode/c_cpp_properties.json
tests/tests
real_tests/real_tests
libunit.a
libunit_bonus.a
*/.build
.objects
.vscode
routine_bonus/real_tests
*/*.log
*/.trace
libft/libft.a
intercept/intercept.so